#section3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
#imgdiv{
    margin-top: 50px;
}
#contentdiv{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}